html, body, .container-fluid{
    height:100%;
}

body {
    background-color:#000;
    text-align:center;
    color:#fff;
    font-family: 'Oswald', sans-serif;
    height:100%;
    z-index:0;
}

img {
    margin:0 auto;
}

/*Top Section Specific Styles*/

#topSection{
    margin-top:4em;
    margin-bottom:4em;
    z-index:2;
    position:relative;
    background-color:#000;
}

#purpleHighlight {
    color:#8d006c;
    font-family:'Baloo Bhaina', cursive;
    letter-spacing: 0.15em;
    font-size: 350%;
}

img[alt="Lyrics Vault Logo"] {
    max-height:15em;
}

.downwardChevron {
    position: relative;
    text-align: center;
    padding: 12px;
    height: 0.5em;
    width: 8em;
    margin: 2em auto;
}

.downwardChevron:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 49.5%;
      background: #8d006c;
      -webkit-transform: skew(0deg, 12deg);
      -moz-transform: skew(0deg, 12deg);
      -ms-transform: skew(0deg, 12deg);
      -o-transform: skew(0deg, 12deg);
      transform: skew(0deg, 12deg);
}

.downwardChevron:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 50%;
      width: 49.5%;
      background: #8d006c;
      -webkit-transform: skew(0deg, -12deg);
      -moz-transform: skew(0deg, -12deg);
      -ms-transform: skew(0deg, -12deg);
      -o-transform: skew(0deg, -12deg);
      transform: skew(0deg, -12deg);
}

 /*End - Top Section Specific Styles*/

 /*Bottom Section Specific Styles*/

#bottomSection{
    margin-top:5em;
    width:100%;
    background-color: #808080;
    z-index: 1;
    padding-top: 4em;
    min-height: 15em;
    position:absolute;
    top:0;
}

 /*End - Bottom Section Specific Styles*/
